/project/db-data/

# binarys files
/authentication-service/authApp
/broker-service/brokerApp
/logger-service/loggerServiceApp
/front-end/frontApp.exe
/mail-service/mailServiceApp


# general files
*.xml
go.sum
*.iml
